@import url('normalize.css');

*{
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-item-1{
    flex: 1;
}

.coluna{
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.coluna img{
    margin-top: 8px;
    width: 100%;
}

/* responsividade*/

@media (max-width:800px){
    .coluna{
        flex: 100%;
        max-width: 100%;
    }
}